body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdbdb
}

#container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#post-title {
  font-size: 40px;
  font-weight: bold;
}

h1 {
  text-align: center;
}

#post-info-area {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.comment-info-area {
  display: flex;
  gap: 20px;
}

.post-info {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}

#post-content {
  margin-bottom: 10px;
}

#post-content {
  width: 600px;
  height: 200px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

.comments {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#comment-input {
  width: 595px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit-comment-button {
  margin-left: 535px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.comment h3 {
  margin-bottom: 5px;
}

.comment-author, .comment-date {
  font-size: 14px;
  color: #888;
  margin-top: 0;
}

.comment-content {
  margin-top: 10px;
}
